{% extends 'base.html' %}
{% block content %}

{% if g.user %}
    {% for title in titles %}
        <a href="/stations/{{ids[loop.index0]}}" class="stationlink">
            <div class="res">
                <hr>
                {{ title }}
                    <br>
                <i class="fas fa-map-marker-alt" style="font-size:13px"></i>
                {{ address[loop.index0] }}, {{ city[loop.index0] }}, {{ state[loop.index0] }}
                    <br>
                {{ usage[loop.index0] }}
                    <br><br>
            </div>
        </a>
    {% endfor %}
{% endif %}

{% endblock %}


