{% extends 'base.html' %}
{% block content %}
    <br>
<div class="title infobox">
        <br>
    <u class="heading"> <h3>{{station_info[0]["AddressInfo"]["Title"] or "Info Not Available"}}</h3> </u>

    <form method="POST" action="/stations/{{ charger_id }}/like">
        <button id="favorite" class="btn btn-sm">
          <h3 {% if star %} class="liked" {% endif %}><i class="fas fa-star"></i></h3>
        </button>
    </form>
        <br>
    Operational Status: {{station_info[0]["StatusType"]["Title"] or "Info Not Available"}}
        <br>
    Usage: {{station_info[0]["UsageType"]["Title"] or "Info Not Available" or "Info Not Available"}}
        <br>
        <br>
    {{station_info[0]["AddressInfo"]["AddressLine1"] or "Info Not Available"}}, {{station_info[0]["AddressInfo"]["Town"] or "Info Not Available"}}, {{station_info[0]["AddressInfo"]["StateOrProvince"] or "Info Not Available"}}
        <br>
    {{station_info[0]["AddressInfo"]["Country"]["Title"] or "Info Not Available"}}
        <br>
    Phone Number: {{station_info[0]["AddressInfo"]["ContactTelephone1"] or "Info Not Available"}}
        <br>
        <br>
    Coordinates: (Latitude: {{station_info[0]["AddressInfo"]["Latitude"] or "Info Not Available"}}), (Longitude: {{station_info[0]["AddressInfo"]["Longitude"] or "Info Not Available"}})
        <br>
        <br>
    <b class="heading">Connection Information:</b>
        <br>
    {{station_info[0]["Connections"][0]["ConnectionType"]["Title"] or "Info Not Available"}}
        <br>
    {{station_info[0]["Connections"][0]["Level"]["Title"] or "Info Not Available"}}
        <br>
    {{station_info[0]["Connections"][0]["CurrentType"]["Title"] or "Info Not Available"}}
        <br>
        <br>
    <b>Chargers: {{station_info[0]["Connections"][0]["Quantity"] or "Info Not Available"}}</b>
        <br> <br>
</div>

{% endblock %}